body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}
#gameContainer {
    width: 1280px;
    height: 720px;
    display: flex;
    /* margin: auto auto; */
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    /* add more styles if needed */
    cursor: crosshair;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 1000;
}


#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 1280px;
    height: 720px;
    background-color: aqua;
    background-image: url("../images/background.png");
    background-size: cover;
    z-index: -110;
}

/* add styles for other HTML elements of your game */